http://www.sports-reference.com/cbb/postseason/1939-ncaa.html

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from bs4 import element
from time import sleep
import pandas as pd


def get_page_data(year):
    url = 'http://www.sports-reference.com/cbb/postseason/'+str(year)+'-ncaa.html'
    page = urlopen(url)
    return BeautifulSoup(page, 'html.parser')

def tidy_location(locStr):
    if locStr.startswith('at '):
        return locStr[len('at '):]

In [42]:
def get_bracket():
    # this works for 84 first round bye and 85 and later 64+ team bracket ignoring play-in games
    years = range(2016, 1938, -1)
    #TODO fix years earlier than 1985
    bracket = []
    for year in years: 
        soup = get_page_data(year)
        region_tags = soup.find_all("div", attrs={"data-controls": "#brackets"})[0].select('div a')           
        #print(year)
        for region_tag in region_tags:        
            region = str(region_tag.string).lower()                           
            if region == 'final four':
                region_div = soup.find('div', {'id':'national'})
            else:
                search = {'id': region} 
                region_div = soup.find('div',**search)            
            if region_div is not None:
                bracket_rounds = region_div.div
                div_rounds = bracket_rounds.find_all('div', {'class':'round'})                
                bracket_round = 1
                for div_round in div_rounds:
                    #print("round, ", bracket_round)
                    if isinstance(div_round, element.Tag ):
                        #print(len(div_round))
                        for gm in div_round:
                            if isinstance(gm, element.Tag ):
                                #print(gm)
                                #print("len contents: ", len(gm.contents))
                                #print()
                                if (len(gm.contents) >= 9):
                                    #print(gm)
                                    #print()
                                    seeds_loc = gm.find_all('span')
                                    if len(seeds_loc) > 2:                                        
                                        winner = gm.find('div', {'class':'winner'})
                                        #if winner is None:
                                        #    print(winner)
                                        #else:
                                        winner_seed = winner.find('span').string                                        
                                        seed1 = seeds_loc[0].string                                        
                                        seed2 = seeds_loc[1].string                                        
                                        currLoc = tidy_location(seeds_loc[2].string)        
                                        alist = gm.select('div a')                                        
                                        team1 = alist[0].string
                                        #if len(alist) > 2:
                                        team2 = alist[2].string
                                        #else:
                                        #    print(alist)
                                        bracketRow = [year, region, bracket_round, seed1, team1, currLoc, seed2, team2, winner_seed]
                                        #print(bracketRow)
                                        bracket.append(bracketRow)
                        bracket_round += 1
        sleep(0.5)
    return pd.DataFrame(bracket, columns=['Year', 'Region', 'Round', 'Seed', 'Team', 'Location', 'OpponentSeed', 'Opponent', 'WinningSeed']) 

    
df = get_bracket()
#df
df.to_csv('ncaa.csv')

In [43]:
bracket_2017_and_2016 = df.head(64)
sample = bracket_2017_and_2016.head(8)

In [44]:
#sample_group = sample.groupby(['Team Name', 'Opponent'])
bracket_2017_and_2016

,Year,Region,Round,Seed,Team,Location,OpponentSeed,Opponent,WinningSeed
0,2016,east,1,1,UNC,"Raleigh, NC",16,Florida Gulf Coast,1
1,2016,east,1,8,USC,"Raleigh, NC",9,Providence,9
2,2016,east,1,5,Indiana,"Des Moines, IA",12,Chattanooga,5
3,2016,east,1,4,Kentucky,"Des Moines, IA",13,Stony Brook,4
4,2016,east,1,6,Notre Dame,"Brooklyn, NY",11,Michigan,6
5,2016,east,1,3,West Virginia,"Brooklyn, NY",14,Stephen F. Austin,14
6,2016,east,1,7,Wisconsin,"St. Louis, MO",10,Pitt,7
7,2016,east,1,2,Xavier,"St. Louis, MO",15,Weber State,2
8,2016,east,2,1,UNC,"Raleigh, NC",9,Providence,1
9,2016,east,2,5,Indiana,"Des Moines, IA",4,Kentucky,5
10,2016,east,2,6,Notre Dame,"Brooklyn, NY",14,Stephen F. Austin,6
11,2016,east,2,7,Wisconsin,"St. Louis, MO",2,Xavier,7
12,2016,east,3,1,UNC,"Philadelphia, PA",5,Indiana,1
13,2016,east,3,6,Notre Dame,"Philadelphia, PA",7,Wisconsin,6
14,2016,east,4,1,UNC,"Philadelphia, PA",6,Notre Dame,1
15,2016,west,1,1,Oregon,"Spokane, WA",16,Holy Cross,1
16,2016,west,1,8,St. Joseph's,"Spokane, WA",9,Cincinnati,8
17,2016,west,1,5,Baylor,"Providence, RI",12,Yale,12
18,2016,west,1,4,Duke,"Providence, RI",13,North Carolina-Wilmington,4
19,2016,west,1,6,Texas,"Oklahoma City, OK",11,Northern Iowa,11
20,2016,west,1,3,Texas A&M;,"Oklahoma City, OK",14,Green Bay,3
21,2016,west,1,7,Oregon State,"Oklahoma City, OK",10,VCU,10
22,2016,west,1,2,Oklahoma,"Oklahoma City, OK",15,Cal State Bakersfield,2
23,2016,west,2,1,Oregon,"Spokane, WA",8,St. Joseph's,1
24,2016,west,2,12,Yale,"Providence, RI",4,Duke,4
25,2016,west,2,11,Northern Iowa,"Oklahoma City, OK",3,Texas A&M;,3
26,2016,west,2,10,VCU,"Oklahoma City, OK",2,Oklahoma,2
27,2016,west,3,1,Oregon,"Anaheim, CA",4,Duke,1
28,2016,west,3,3,Texas A&M;,"Anaheim, CA",2,Oklahoma,2
29,2016,west,4,1,Oregon,"Anaheim, CA",2,Oklahoma,2
...,...,...,...,...,...,...,...,...,...
34,2016,south,1,6,Arizona,"Providence, RI",11,Wichita State,11
35,2016,south,1,3,Miami (FL),"Providence, RI",14,Buffalo,3
36,2016,south,1,7,Iowa,"Brooklyn, NY",10,Temple,7
37,2016,south,1,2,Villanova,"Brooklyn, NY",15,North Carolina-Asheville,2
38,2016,south,2,1,Kansas,"Des Moines, IA",9,UConn,1
39,2016,south,2,5,Maryland,"Spokane, WA",13,Hawaii,5
40,2016,south,2,11,Wichita State,"Providence, RI",3,Miami (FL),3
41,2016,south,2,7,Iowa,"Brooklyn, NY",2,Villanova,2
42,2016,south,3,1,Kansas,"Louisville, KY",5,Maryland,1
43,2016,south,3,3,Miami (FL),"Louisville, KY",2,Villanova,2
44,2016,south,4,1,Kansas,"Louisville, KY",2,Villanova,2
45,2016,midwest,1,1,Virginia,"Raleigh, NC",16,Hampton,1
46,2016,midwest,1,8,Texas Tech,"Raleigh, NC",9,Butler,9
47,2016,midwest,1,5,Purdue,"Denver, CO",12,Arkansas-Little Rock,12
48,2016,midwest,1,4,Iowa State,"Denver, CO",13,Iona,4
49,2016,midwest,1,6,Seton Hall,"Denver, CO",11,Gonzaga,11
50,2016,midwest,1,3,Utah,"Denver, CO",14,Fresno State,3
51,2016,midwest,1,7,Dayton,"St. Louis, MO",10,Syracuse,10
52,2016,midwest,1,2,Michigan State,"St. Louis, MO",15,Middle Tennessee,15
53,2016,midwest,2,1,Virginia,"Raleigh, NC",9,Butler,1
54,2016,midwest,2,12,Arkansas-Little Rock,"Denver, CO",4,Iowa State,4
55,2016,midwest,2,11,Gonzaga,"Denver, CO",3,Utah,11
56,2016,midwest,2,10,Syracuse,"St. Louis, MO",15,Middle Tennessee,10
57,2016,midwest,3,1,Virginia,"Chicago, IL",4,Iowa State,1
58,2016,midwest,3,11,Gonzaga,"Chicago, IL",10,Syracuse,10
59,2016,midwest,4,1,Virginia,"Chicago, IL",10,Syracuse,10
60,2016,final four,1,2,Villanova,"Houston, TX",2,Oklahoma,2
61,2016,final four,1,10,Syracuse,"Houston, TX",1,UNC,1
62,2016,final four,2,2,Villanova,"Houston, TX",1,UNC,2
63,2015,east,1,1,Villanova,"Pittsburgh, PA",16,Lafayette,1

In [70]:
df1 = df.loc[(df['Round'] == 1)]
df1_teams = df1.loc[:, ['Team','Opponent']]
#df1_teams
#TODO get the years for each team's appearances?
um1 = df1_teams[(df1_teams.Team == 'Miami (FL)') | (df1.Opponent == 'Miami (FL)')]
uf1 = df1_teams[(df1_teams.Team == 'Florida') | (df1.Opponent == 'Florida')]
fsu1 = df1_teams[(df1_teams.Team == 'Florida State') | (df1.Opponent == 'Florida State')]
fgcu1 = df1_teams[(df1_teams.Team == 'Florida Gulf Coast') | (df1.Opponent == 'Florida Gulf Coast')]
ucf1 = df1_teams[(df1_teams.Team == 'UCF') | (df1.Opponent == 'UCF')]
#print("Miami", len(um1.index), "Florida", len(uf1.index), "FSU", len(fsu1.index))
#print("FL Gulf Coast", len(fgcu1.index), "UCF", len(ucf1.index))
#TODO get unique values for all teams ever, a count of them etc 
#df_years = df.groupby('Year')
#list(df_years)

#TODO is this an interesting side note to get random stats on each team grouped by year?  
#TODO do we need to export to a file?
df['Year'].groupby(df['Team']).count()

Team
Alabama                         21
Alabama-Birmingham               9
Alcorn State                     1
Appalachian State                1
Arizona                         52
Arizona State                   12
Arkansas                        33
Arkansas-Little Rock             1
Auburn                          14
Austin Peay                      2
BYU                             21
Ball State                       1
Baylor                          12
Boston College                  21
Boston University                1
Bowling Green State              2
Bradley                         11
Brown                            1
Butler                          18
CCNY                             2
Cal State Fullerton              1
Canisius                         3
Central Michigan                 2
Charlotte                       11
Chattanooga                      2
Cincinnati                      43
Clemson                         11
Cleveland State                  1
College of Charleston            2
Colorado                         6
                              ...
UCLA                           102
UConn                           49
UMass                           11
UNC                            111
UNLV                            36
USC                             15
UTEP                            14
University of California        22
Utah                            29
Utah State                       6
VCU                             17
Vanderbilt                      16
Villanova                       45
Virginia                        37
Virginia Military Institute      3
Virginia Tech                    7
Wake Forest                     27
Washington                      20
Washington State                 7
Wayne State (MI)                 2
Weber State                      6
West Virginia                   28
Western Kentucky                18
Western Michigan                 3
Wichita State                   15
Winthrop                         1
Wisconsin                       31
Wyoming                         14
Xavier                          23
Yale                             2
Name: Year, dtype: int64