http://www.sports-reference.com/cbb/postseason/1939-ncaa.html

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from bs4 import element
from time import sleep
import pandas as pd


def get_page_data(year):
    url = 'http://www.sports-reference.com/cbb/postseason/'+str(year)+'-ncaa.html'
    page = urlopen(url)
    return BeautifulSoup(page, 'html.parser')

def tidy_location(locStr):
    if locStr.startswith('at '):
        return locStr[len('at '):]

In [45]:


def get_bracket_85_on():    
    years = range(2017, 1984, -1)
    #TODO fix years earlier than 1985
    bracket = []
    for year in years: 
        soup = get_page_data(year)
        region_tags = soup.find_all("div", attrs={"data-controls": "#brackets"})[0].select('div a')        
        for region_tag in region_tags:        
            region = str(region_tag.string).lower()
            if region is not 'final four':            
                search = {'id': region}        
                region_div = soup.find('div',**search)
                if region_div is not None:
                    region_first_round = region_div.div.div                
                    for elem in region_first_round.contents:
                        if isinstance(elem, element.Tag ):
                            seeds_loc = elem.find_all('span')
                            if len(seeds_loc) > 2:
                                seed1 = seeds_loc[0].string
                                seed2 = seeds_loc[1].string
                                currLoc = tidy_location(seeds_loc[2].string)        
                                alist = elem.select('div a')
                                team1 = alist[0].string
                                team2 = alist[2].string        
                                bracketRow = [year, region, seed1, team1, currLoc, seed2, team2]
                                bracket.append(bracketRow) 
        sleep(0.5)
    return pd.DataFrame(bracket, columns=['Year', 'Region', 'Seed', 'Team Name','Location', 'Oppenent Seed', 'Opponent']) 

df = get_bracket_85_on()
#df.to_csv('ncaa.csv')
df

,Year,Region,Seed,Team Name,Location,Oppenent Seed,Opponent
0,2017,midwest,1,Kansas,"Tulsa, OK",16,UC-Davis
1,2017,midwest,8,Miami (FL),"Tulsa, OK",9,Michigan State
2,2017,midwest,5,Iowa State,"Milwaukee, WI",12,Nevada
3,2017,midwest,4,Purdue,"Milwaukee, WI",13,Vermont
4,2017,midwest,6,Creighton,"Sacramento, CA",11,Rhode Island
5,2017,midwest,3,Oregon,"Sacramento, CA",14,Iona
6,2017,midwest,7,Michigan,"Indianapolis, IN",10,Oklahoma State
7,2017,midwest,2,Louisville,"Indianapolis, IN",15,Jacksonville State
8,2017,west,1,Gonzaga,"Salt Lake City, UT",16,South Dakota State
9,2017,west,8,Northwestern,"Salt Lake City, UT",9,Vanderbilt
10,2017,west,5,Notre Dame,"Buffalo, NY",12,Princeton
11,2017,west,4,West Virginia,"Buffalo, NY",13,Bucknell
12,2017,west,6,Maryland,"Orlando, FL",11,Xavier
13,2017,west,3,Florida State,"Orlando, FL",14,Florida Gulf Coast
14,2017,west,7,Saint Mary's (CA),"Salt Lake City, UT",10,VCU
15,2017,west,2,Arizona,"Salt Lake City, UT",15,North Dakota
16,2017,east,1,Villanova,"Buffalo, NY",16,Mount St. Mary's
17,2017,east,8,Wisconsin,"Buffalo, NY",9,Virginia Tech
18,2017,east,5,Virginia,"Orlando, FL",12,North Carolina-Wilmington
19,2017,east,4,Florida,"Orlando, FL",13,ETSU
20,2017,east,6,SMU,"Tulsa, OK",11,USC
21,2017,east,3,Baylor,"Tulsa, OK",14,New Mexico State
22,2017,east,7,South Carolina,"Greenville, SC",10,Marquette
23,2017,east,2,Duke,"Greenville, SC",15,Troy
24,2017,south,1,UNC,"Greenville, SC",16,Texas Southern
25,2017,south,8,Arkansas,"Greenville, SC",9,Seton Hall
26,2017,south,5,Minnesota,"Milwaukee, WI",12,Middle Tennessee
27,2017,south,4,Butler,"Milwaukee, WI",13,Winthrop
28,2017,south,6,Cincinnati,"Sacramento, CA",11,Kansas State
29,2017,south,3,UCLA,"Sacramento, CA",14,Kent State
...,...,...,...,...,...,...,...
1010,1985,east,5,SMU,"Hartford, CT",12,Old Dominion
1011,1985,east,4,Loyola (IL),"Hartford, CT",13,Iona
1012,1985,east,6,Georgia,"Atlanta, GA",11,Wichita State
1013,1985,east,3,Illinois,"Atlanta, GA",14,Northeastern
1014,1985,east,7,Syracuse,"Atlanta, GA",10,DePaul
1015,1985,east,2,Georgia Tech,"Atlanta, GA",15,Mercer
1016,1985,midwest,1,Oklahoma,"Tulsa, OK",16,North Carolina A&T;
1017,1985,midwest,8,USC,"Tulsa, OK",9,Illinois State
1018,1985,midwest,5,Louisiana Tech,"Tulsa, OK",12,Pitt
1019,1985,midwest,4,Ohio State,"Tulsa, OK",13,Iowa State
1020,1985,midwest,6,Texas Tech,"Houston, TX",11,Boston College
1021,1985,midwest,3,Duke,"Houston, TX",14,Pepperdine
1022,1985,midwest,7,Alabama-Birmingham,"Houston, TX",10,Michigan State
1023,1985,midwest,2,Memphis,"Houston, TX",15,Penn
1024,1985,southeast,1,Michigan,"Dayton, OH",16,Fairleigh Dickinson
1025,1985,southeast,8,Villanova,"Dayton, OH",9,Dayton
1026,1985,southeast,5,Maryland,"Dayton, OH",12,Miami (OH)
1027,1985,southeast,4,LSU,"Dayton, OH",13,Navy
1028,1985,southeast,6,Purdue,"South Bend, IN",11,Auburn
1029,1985,southeast,3,Kansas,"South Bend, IN",14,Ohio
1030,1985,southeast,7,Notre Dame,"South Bend, IN",10,Oregon State
1031,1985,southeast,2,UNC,"South Bend, IN",15,Middle Tennessee
1032,1985,west,1,St. John's (NY),"Salt Lake City, UT",16,Southern
1033,1985,west,8,Iowa,"Salt Lake City, UT",9,Arkansas
1034,1985,west,5,Washington,"Salt Lake City, UT",12,Kentucky
1035,1985,west,4,UNLV,"Salt Lake City, UT",13,San Diego State
1036,1985,west,6,Tulsa,"Albuquerque, NM",11,UTEP
1037,1985,west,3,North Carolina State,"Albuquerque, NM",14,Nevada
1038,1985,west,7,Alabama,"Albuquerque, NM",10,Arizona
1039,1985,west,2,VCU,"Albuquerque, NM",15,Marshall

In [79]:
def get_bracket():
    # this works for 84 first round bye and 85 and later 64+ team bracket ignoring play-in games
    years = range(2016, 1938, -1)
    #TODO fix years earlier than 1985
    bracket = []
    for year in years: 
        soup = get_page_data(year)
        region_tags = soup.find_all("div", attrs={"data-controls": "#brackets"})[0].select('div a')           
        #print(year)
        for region_tag in region_tags:        
            region = str(region_tag.string).lower()                           
            if region == 'final four':
                region_div = soup.find('div', {'id':'national'})
            else:
                search = {'id': region} 
                region_div = soup.find('div',**search)            
            if region_div is not None:
                bracket_rounds = region_div.div
                div_rounds = bracket_rounds.find_all('div', {'class':'round'})                
                bracket_round = 1
                for div_round in div_rounds:
                    #print("round, ", bracket_round)
                    if isinstance(div_round, element.Tag ):
                        #print(len(div_round))
                        for gm in div_round:
                            if isinstance(gm, element.Tag ):
                                #print(gm)
                                #print("len contents: ", len(gm.contents))
                                #print()
                                if (len(gm.contents) >= 9):
                                    #print(gm)
                                    #print()
                                    seeds_loc = gm.find_all('span')
                                    if len(seeds_loc) > 2:                                        
                                        winner = gm.find('div', {'class':'winner'})
                                        #if winner is None:
                                        #    print(winner)
                                        #else:
                                        winner_seed = winner.find('span').string                                        
                                        seed1 = seeds_loc[0].string                                        
                                        seed2 = seeds_loc[1].string                                        
                                        currLoc = tidy_location(seeds_loc[2].string)        
                                        alist = gm.select('div a')                                        
                                        team1 = alist[0].string
                                        #if len(alist) > 2:
                                        team2 = alist[2].string
                                        #else:
                                        #    print(alist)
                                        bracketRow = [year, region, bracket_round, seed1, team1, currLoc, seed2, team2, winner_seed]
                                        #print(bracketRow)
                                        bracket.append(bracketRow)
                        bracket_round += 1
        sleep(0.5)
    return pd.DataFrame(bracket, columns=['Year', 'Region', 'Round', 'Seed', 'Team Name', 'Location', 'Oppenent Seed', 'Opponent', 'Winning Seed']) 

    
df = get_bracket()
#df
df.to_csv('ncaa.csv')

In [35]:
bracket_2017_and_2016 = df.head(64)
sample = bracket_2017_and_2016.head(8)

In [36]:
sample_group = sample.groupby(['Team Name', 'Opponent'])

In [37]:
miami = df['Team Name'].value_counts()['Miami (FL)'] + df['Opponent'].value_counts()['Miami (FL)']
uf = df['Team Name'].value_counts()['Florida'] + df['Opponent'].value_counts()['Florida']
fsu = df['Team Name'].value_counts()['Florida State'] + df['Opponent'].value_counts()['Florida State']

print("UF {} appearances, FSU {} appearances, Miami {} appearances".format(uf, fsu, miami))

UF 19 appearances, FSU 11 appearances, Miami 8 appearances