http://www.local10.com/sports/college-basketball/miami-florida-florida-state-all-heading-to-big-dance

In [185]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from bs4 import element
from time import sleep
import pandas as pd
import datetime


def get_page_data(year):
    url = 'http://www.sports-reference.com/cbb/postseason/'+str(year)+'-ncaa.html'
    page = urlopen(url)
    return BeautifulSoup(page, 'html.parser')

def tidy_location(loc_str):
    if loc_str.startswith('at '):
        return loc_str[len('at '):]

def tidy_team_name(team_name):
    team_name.replace(';','')

In [186]:
first_year_of_tourney = 1939
def get_bracket():
    # this works for 84 first round bye and 85 and later 64+ team bracket ignoring play-in games
    now = datetime.datetime.now()
    years = range(now.year, first_year_of_tourney - 1, -1)
    bracket = []
    for year in years: 
        soup = get_page_data(year)
        region_tags = soup.find_all("div", attrs={"data-controls": "#brackets"})[0].select('div a')           
        #print(year)
        for region_tag in region_tags:        
            region = str(region_tag.string).lower()                           
            if region == 'final four':
                region_div = soup.find('div', {'id':'national'})
            else:
                search = {'id': region} 
                region_div = soup.find('div',**search)            
            if region_div is not None:
                bracket_rounds = region_div.div
                div_rounds = bracket_rounds.find_all('div', {'class':'round'})                
                if region == 'final four':
                    bracket_round = 5
                else:
                    bracket_round = 1
                for div_round in div_rounds:
                    #print("round, ", bracket_round)
                    if isinstance(div_round, element.Tag ):
                        #print(len(div_round))
                        for gm in div_round:
                            if isinstance(gm, element.Tag ):
                                #print(gm)
                                #print("len contents: ", len(gm.contents))
                                #print()
                                if (len(gm.contents) >= 9):
                                    #print(gm)
                                    #print()
                                    seeds_loc = gm.find_all('span')
                                    if len(seeds_loc) > 2:                                        
                                        winner = gm.find('div', {'class':'winner'})
                                        if winner is not None:
                                            winner_seed = winner.find('span').string                                        
                                        seed1 = seeds_loc[0].string                                        
                                        seed2 = seeds_loc[1].string                                        
                                        currLoc = tidy_location(seeds_loc[2].string)        
                                        alist = gm.select('div a')    
                                        if len(alist) > 2:
                                            #team1 = tidy_team_name(alist[0].string)
                                            team1 = alist[0].string
                                            #if len(alist) > 2:
                                            #team2 = tidy_team_name(alist[2].string)
                                            team2 = alist[2].string
                                            #else:
                                            #    print(alist)
                                            bracketRow = [year, region, bracket_round, seed1, team1, currLoc, seed2, team2, winner_seed]
                                            #print(bracketRow)
                                            bracket.append(bracketRow)
                        bracket_round += 1
        sleep(0.5)
    return pd.DataFrame(bracket, columns=['Year', 'Region', 'Round', 'Seed', 'Team', 'Location', 'OpponentSeed', 'Opponent', 'WinningSeed']) 

    
df = get_bracket()
df.to_csv('ncaa.csv')

In [187]:
df1 = df.loc[(df['Round'] == 1)]
fl_list = ['Florida', 'Florida State', 'Miami (FL)', 'UCF', 'Florida Gulf Coast', 'South Florida', 'Florida A&M;','Florida International', 'Florida Atlantic']

df1_teams_year = df1.loc[:, ['Year','Team','Opponent']]
df1_teams = df1.loc[:, ['Team','Opponent']]

fl_team_app = []
for fl_tm in fl_list:
    fl_tm_count = df1_teams[(df1_teams.Team == fl_tm) | (df1_teams.Opponent == fl_tm)]
    fl_team_app.append([fl_tm, len(fl_tm_count.index)])
sorted(fl_team_app, key=lambda l:l[1], reverse=True)

[['Florida', 19],
 ['Florida State', 15],
 ['Miami (FL)', 9],
 ['UCF', 3],
 ['Florida Gulf Coast', 3],
 ['South Florida', 3],
 ['Florida A&M;', 1],
 ['Florida International', 1],
 ['Florida Atlantic', 1]]

In [188]:
team_counts= df1_teams.stack().value_counts()

print(team_counts)
team_counts.to_csv('ncaa_team_appearances.csv')

Kansas                       38
UNC                          38
Kentucky                     37
Duke                         35
Villanova                    35
Syracuse                     34
Arizona                      34
Notre Dame                   33
Louisville                   33
UCLA                         32
UConn                        32
Temple                       31
Marquette                    31
Texas                        31
Indiana                      30
Oklahoma                     28
Michigan State               27
Illinois                     27
West Virginia                27
St. John's (NY)              27
Purdue                       27
Georgetown                   26
Arkansas                     26
Xavier                       25
Pitt                         25
Princeton                    25
Cincinnati                   24
Maryland                     24
Missouri                     24
Oklahoma State               24
                             ..
Binghamton                    1
Wayne State (MI)              1
UC-Irvine                     1
Stony Brook                   1
Norfolk State                 1
Jacksonville State            1
Saint Francis (PA)            1
Texas A&M-Corpus; Christi     1
Arkansas State                1
UMBC                          1
Texas-Arlington               1
Cal Poly                      1
Florida Atlantic              1
Liberty                       1
North Carolina Central        1
Northern Colorado             1
Charleston Southern           1
IUPUI                         1
Springfield                   1
Florida A&M;                  1
Western Carolina              1
Appalachian State             1
Florida International         1
Cal State Bakersfield         1
Southeast Missouri State      1
West Texas A&M;               1
Eastern Washington            1
Catholic                      1
Southern Utah                 1
Delaware State                1
dtype: int64

In [189]:
fl_teams_by_year = df1_teams_year[df1_teams_year.Team.isin(fl_list)|df1_teams_year.Opponent.isin(fl_list)] 
fl_teams_by_year

      Year              Team               Opponent
3     2017           Florida                   ETSU
16    2017        Miami (FL)         Michigan State
49    2017     Florida State     Florida Gulf Coast
59    2016               UNC     Florida Gulf Coast
94    2016        Miami (FL)                Buffalo
230   2014           Florida            Albany (NY)
255   2013        Miami (FL)                Pacific
283   2013           Florida     Northwestern State
285   2013        Georgetown     Florida Gulf Coast
316   2012     Florida State        St. Bonaventure
328   2012            Temple          South Florida
362   2012           Florida               Virginia
396   2011           Florida                   UCSB
410   2011        Texas A&M;          Florida State
483   2010           Gonzaga          Florida State
488   2010               BYU                Florida
517   2009     Florida State              Wisconsin
599   2008        Miami (FL)      Saint Mary's (CA)
656   2007           Florida          Jackson State
694   2006           Florida          South Alabama
755   2005           Florida                   Ohio
759   2005             UConn                    UCF
855   2003           Florida      Sam Houston State
928   2002           Florida              Creighton
948   2002           Alabama       Florida Atlantic
958   2002        Miami (FL)               Missouri
1009  2001           Florida       Western Kentucky
1039  2000           Florida                 Butler
1071  2000        Miami (FL)               Arkansas
1100  1999              Duke           Florida A&M;
1107  1999        Miami (FL)              Lafayette
1149  1999           Florida                   Penn
1180  1998   Texas Christian          Florida State
1197  1998              UCLA             Miami (FL)
1289  1996             UMass                    UCF
1388  1995        Iowa State                Florida
1397  1995              UCLA  Florida International
1420  1994           Florida          James Madison
1445  1994            Purdue                    UCF
1513  1993     Florida State             Evansville
1590  1992        Georgetown          South Florida
1591  1992     Florida State                Montana
1640  1991     Florida State                    USC
1719  1990           Arizona          South Florida
1751  1989           Florida         Colorado State
1763  1989     Florida State       Middle Tennessee
1840  1988              Iowa          Florida State
1842  1988           Florida        St. John's (NY)
1860  1987           Florida   North Carolina State
2244  1980     Florida State                 Toledo
2326  1978          Kentucky          Florida State
2497  1972     Florida State       Eastern Kentucky
2593  1968              ETSU          Florida State
2775  1960  Western Kentucky             Miami (FL)

In [207]:
df1_teams_year_t = df1_teams_year.loc[:, ['Year','Team']][df1_teams_year.Team.isin(fl_list)]
df1_teams_year_o = df1_teams_year.loc[:, ['Year','Opponent']][df1_teams_year.Opponent.isin(fl_list)]
df1_teams_year_o.rename(columns={'Opponent':'Team'}, inplace=True)
df1_teams_fl_agg = pd.concat([df1_teams_year_t, df1_teams_year_o])
df1_teams_fl_agg.groupby('Year')
final_count = df1_teams_fl_agg.groupby('Year').count().sort_index(axis=0, ascending=False)
final_count

      Team
Year
2017     4
2016     2
2014     1
2013     3
2012     3
2011     2
2010     2
2009     1
2008     1
2007     1
2006     1
2005     2
2003     1
2002     3
2001     1
2000     2
1999     3
1998     2
1996     1
1995     2
1994     2
1993     1
1992     2
1991     1
1990     1
1989     2
1988     2
1987     1
1980     1
1978     1
1972     1
1968     1
1960     1

In [226]:
#df1_teams_fl_agg
#sorted(df1_teams_fl_agg, key=lambda l:l[0], reverse=True, inplace=True)
df1_teams_fl_agg2 = df1_teams_fl_agg.groupby('Year')
for year, fl_group in df1_teams_fl_agg2:
    print(fl_group.to_string(index=False))
    print()

Year        Team
1960  Miami (FL)

Year           Team
1968  Florida State

Year           Team
1972  Florida State

Year           Team
1978  Florida State

Year           Team
1980  Florida State

Year     Team
1987  Florida

Year           Team
1988        Florida
1988  Florida State

Year           Team
1989        Florida
1989  Florida State

Year           Team
1990  South Florida

Year           Team
1991  Florida State

Year           Team
1992  Florida State
1992  South Florida

Year           Team
1993  Florida State

Year     Team
1994  Florida
1994      UCF

Year                   Team
1995                Florida
1995  Florida International

Year Team
1996  UCF

Year           Team
1998  Florida State
1998     Miami (FL)

Year          Team
1999    Miami (FL)
1999       Florida
1999  Florida A&M;

Year        Team
2000     Florida
2000  Miami (FL)

Year     Team
2001  Florida

Year              Team
2002           Florida
2002        Miami (FL)
2002  Florida Atlantic

Year     Team
2003  Florida

Year     Team
2005  Florida
2005      UCF

Year     Team
2006  Florida

Year     Team
2007  Florida

Year        Team
2008  Miami (FL)

Year           Team
2009  Florida State

Year           Team
2010  Florida State
2010        Florida

Year           Team
2011        Florida
2011  Florida State

Year           Team
2012  Florida State
2012        Florida
2012  South Florida

Year                Team
2013          Miami (FL)
2013             Florida
2013  Florida Gulf Coast

Year     Team
2014  Florida

Year                Team
2016          Miami (FL)
2016  Florida Gulf Coast

Year                Team
2017             Florida
2017          Miami (FL)
2017       Florida State
2017  Florida Gulf Coast